[submodule "alchemy-starter/subgraph"]
	path = alchemy-starter/subgraph
	url = git@github.com:daostack/subgraph.git
[submodule "alchemy-starter/alchemy"]
	path = alchemy-starter/alchemy
	url = https://github.com/daostack/alchemy.git
[submodule "alchemy-starter/client"]
	path = alchemy-starter/client
	url = git@github.com:daostack/client.git
