PROVIDER='http://localhost:8545'
PRIVATE_KEY='0x4f3edf983ac636a65a842ce7c78d9aa706d3b113bce9c46f30d7d21715b23b1d'
SEED_PHRASE='change to your seed phrase for the testnet you are using'
MIGRATION_OUTPUT='migration.json'

