NETWORK='private'
PROVIDER='http://localhost:8545'
# Use Private key or seed-phrase no need for both
PRIVATE_KEY='0x6cbed15c793ce57650b9877cf6fa156fbef513c4e6134f022a85b1ffdd59b2a1'
SEED_PHRASE='Add-Your-Seed-Phrase'

