PROVIDER='http://localhost:8545'
PRIVATE_KEY='0x4f3edf983ac636a65a842ce7c78d9aa706d3b113bce9c46f30d7d21715b23b1d'
SEED_PHRASE='Add-Your-Seed-Phrase'
MIGRATION_OUTPUT='migration.json'
RINKEBY_INFURA_URL='https://rinkeby.infura.io/v3/<your-infura-key'

